<!DOCTYPE html>
<html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="./static/main.css" rel="stylesheet">


      <title>QuizMachine</title>
    </head>
    <body>
      <div class="container">
        <div class="row category">
          <div class="col">
            <p>Click here to change question category</p>
          </div>
        </div>
        <div class="row category-picker">
          <div class="col">
            <form id="category-selection">
            <select name="categories">
            {{#each categoryOptions}}
              <option class="cat" value="{{{this.id}}}">{{{this.name}}}</option>
              <br/>
            {{/each}}

          </select>
            <button type="submit">Confirm new category</button>
          </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row score-tracker-div">
          <div clss="col">
            <p><h2>Current score:</h2>
            <h2 id="score-tracker">{{{score}}}</h2></p>
          </div>
        </div>


        <div class="row">
          <div class="col">
        <h2 id="question-text">{{{question}}}</h2>
      </div>
    </div>


    <div class="row questionOptionsDiv">
      <div class="col">
        <form id="questionBox">
          {{#each optionsToDisplay}}
            <label id="label{{{@index}}}">
              <input type="radio" name="question" class="answers" id="answer{{{@index}}}" value="{{{this.correct}}}">
            {{{this.answer}}}</label>
            <br/>
          {{/each}}

          <button type="submit">Submit Answer</button>
        </form>
      </div>
      </div>
      <div class="row successGIF">
        <div class="col">
          <img src="/static/images/yes.gif" alt="Success animation">
        </div>
      </div>
      <div class="row failureGIF">
        <div class="col">
          <img src="/static/images/drWho-no.gif" alt="Failure animation">
        </div>
      </div>
        <script src="/static/browser-end.js"></script>
    </body>
</html>
