{{> page_start title='QuizThing' }}
<h1>QuizThing</h1>
<p>
Questions answered: X<br />
Got right: X<br />
Got wrong: X<br />
<p class="question">
{{{question}}}
</p>
<div class="answers">
<form id="form-answers">
{{#each answers}}
	<input type="radio" name="question" id="answer-{{@index}}" value="{{{this}}}"> <label for="answer-{{@index}}">{{{this}}}</label><br />
{{/each}}
</form>
{{> page_end }}